pysqlite3-binary
streamlit==1.40.2
crewAI
pandas==2.1.4
numpy==1.26.4
mdpd
langchain_community
duckduckgo-search
langchain
langchain-experimental
langchain-core
langchain-ibm
ibm-watsonx-ai
typing
crewai-tools==0.14.0
pydantic
configparser
tm1py
python-dotenv
chromadb<=0.5.3
