streamlit
crewAI
pandas
numpy
mdpd
langchain_community
duckduckgo-search
langchain
langchain-experimental
langchain-core
langchain-ibm
ibm-watsonx-ai
typing
crewai-tools
pydantic
configparser
tm1py
python-dotenv
chromadb<=0.5.3
